.App {
  text-align: center;
  background-color: #312808;
}

.App-header {
  background-color: #6e5911;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}


